<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
   
  <servlet>
    <servlet-name>tagmeServlet</servlet-name>
    <servlet-class>com.sottotesto.server.TagmeServiceImpl</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>tagmeServlet</servlet-name>
    <url-pattern>/sottotestogwt/tagme</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>dbpediaServlet</servlet-name>
    <servlet-class>com.sottotesto.server.DBPediaServiceImpl</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>dbpediaServlet</servlet-name>
    <url-pattern>/sottotestogwt/dbpedia</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ekpServlet</servlet-name>
    <servlet-class>com.sottotesto.server.EkpServiceImpl</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>ekpServlet</servlet-name>
    <url-pattern>/sottotestogwt/ekp</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>dbpqServlet</servlet-name>
    <servlet-class>com.sottotesto.server.DBPediaQueryImpl</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>dbpqServlet</servlet-name>
    <url-pattern>/sottotestogwt/dbpq</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Sottotestogwt.html</welcome-file>
  </welcome-file-list>

</web-app>
